Package: com.custom.mangaglass
Name: MangaGlass
Depends: mobilesubstrate
Version: 3.0.0
Architecture: iphoneos-arm
Description: Customizable glass styling and PDF, EPUB, image, media and document readers for Spotify
Maintainer: Developer
Author: Developer
Section: Tweaks
